{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crud</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'bulma.css' %}">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
<section class="hero has-background-link is-fullheight">
    <div class="hero-head">
        <header class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="{% url 'article_func' %}">
                        <h1 class="has-text-white has-text-weight-bold is-size-4">Quvonchbek24</h1>
                    </a>
                    <span class="navbar-burger" data-target="navbarMenuHeroC">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenuHeroC" class="navbar-menu">
                    <div class="navbar-start">
                        {% if user.is_authenticated %}
                        <span class="navbar-item">
                            <a href="{% url 'article_create' %}" class="button is-info is-outlined is-inverted">
                                <span class="mr-2">
                                    <ion-icon name="book-outline"></ion-icon>
                                </span>
                                <span>
                                    Post yaratish
                                </span>
                            </a>
                        </span>
                        {% endif %}
                    </div>

                    <div class="navbar-end">
                        {% if user.is_authenticated %}
                        <a href="" class="navbar-item button my-4 mx-1">
                            Welcome: {{ user }}
                        </a>


                        <!-- Search Poisk Iconka -->
                        <form action="{% url 'article_func' %}" method="get">
                            <div class="field has-addons mt-4 mr-2">
                                <div class="control ">
                                    <input class="input is-info" type="search" placeholder= "Qidiruv Tizimi" name="search">
                                </div>
                                <div class="control">
                                    <button class="button is-info" type="submit">
                                        Qidiruv
                                    </button>
                                </div>
                            </div>
                        </form>
                        <!-- Search Poisk Iconka -->


                        <!-- Chiqish Logindan -->
                        <span class="navbar-item">
                            <a href="{% url 'sign_out' %}" class="button is-info">
                                Chiqish
                            </a>
                        </span>
                        <!-- Chiqish Logindan -->



                        <!-- Kirish Login -->
                        {% else %}
                        <span class="navbar-item">
                            <a href="{% url 'sign_in' %}" class="button is-info">Kirish </a>
                        </span>
                        {% endif %}
                    </div>
                        <!-- Kirish Login -->



                </div>
            </div>
        </header>
    </div>
    <div class="hero-body">
        {% block content %}


        {% endblock %}
    </div>
</section>
</body>
</html>